.container {
  max-width: 240px;
  margin: 16px auto;
}


.header {
  margin-bottom: 24px;
  text-align: center;
}


.board {
  width: 240px;
}


.row {

}


.unit {
  height: 24px;
  width: 24px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: lightgray;
}


.piece {
  background-color: lightblue;
}


.active {
  border: 4px solid blue;
}


.clearing {
  background-color: yellow;
}


.gameover {
  color: red;
}


.loser {
  background-color: red;
}